@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "miama";
  src: url(./fonts/Miama.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "inter", serif;
  background-color: black;
  max-width: 1440px;
  margin: 0 auto;
}
/* header section  */
header {
  width: 100%;
  height: 712px;
  background-image: linear-gradient(
    180deg,
    black,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%,
    rgba(119, 119, 119, 0) 100%,
    rgb(17, 17, 17),
    black
  );
}
/* nav section */
nav {
  width: 80%;
  margin: 0px auto 0 auto;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > h1 > i {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  cursor: pointer;
}
.menu-icon {
  display: none;
}
nav > ul {
  list-style: none;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 5px;
}
nav > ul li {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border-radius: 46px;
  padding: 10px 26px;
  cursor: pointer;
}
.home {
  background-color: rgb(230, 83, 60);
}
.header-details {
  width: 80%;

  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
}
.header-details-text {
  width: 50%;
}
.header-details-text > h1 {
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
  line-height: 110%;
}
.header-details-text > h1 > span {
  font-family: "miama", sans-serif;
  font-size: 150px;
  font-weight: 500;
  letter-spacing: 3px;
}
.header-details-text > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 20px 0 35px 0;
}
.btn-sec {
  display: flex;
  gap: 20px;
}
.btn {
  border-radius: 42px;
  padding: 16px 30px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
.prim-btn {
  background-color: rgb(230, 83, 60);
  border: none;
}
.header-img {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
}
.header-img > img {
  /* margin-left: auto; */
  margin-right: 20px;
}
.header-img-detail1 {
  position: absolute;
  right: -7%;
  top: 20%;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.header-img-detail1 > p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
}
.header-img-detail2 {
  position: absolute;
  bottom: 20%;
  left: 10%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 40px;
  height: 40px;
  background-color: #e6533c;
  border-radius: 50%;
  margin-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-img-detail2 h1 {
  margin-bottom: 5px;
}
.header-img-detail2 > div > p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
}
/* change habits section */
.change-habits {
  width: 80%;
  margin: 90px auto;
}
.change-habits > h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
.change-habits > p {
  max-width: 650px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 0 auto;
}
.all-habits {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.habit {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.habit > img {
  border-radius: 50%;
  border: 4px solid rgb(34, 34, 34);
}
.habit > h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
}
.habit > p {
  max-width: 200px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.3px;
  text-align: center;
}
/* extra mile section */
.extra-mile {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  padding: 25px;
  background-color: rgb(34, 34, 34);
}
.extra-mile-details {
  width: 40%;
}
.extra-mile-details > h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 8px;
}
.extra-mile-details > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 16px;
}
.extra-mile-details > .btn {
  max-width: 200px;
}
.extra-mile-img {
  width: 45%;
  overflow: hidden;
  border-radius: 18px;
}
.extra-mile-img > img {
  width: 100%;

  border-radius: 18px;
  transform: scale(2.6);
  position: relative;
  top: 80px;
  right: 100px;
}
/* own section  */
.own-section {
  width: 80%;
  margin: 90px auto 90px auto;
}
.own-section > h1 {
  text-align: center;
  font-size: 48px;
}
.own-section > h1 > span {
  font-family: "miama", sans-serif;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #e6533c;
}
.own-section > p {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin-bottom: 16px;
}
.own-img-section {
  /* border: 2px solid aqua; */
  display: flex;
  justify-content: space-evenly;
}
.own-img-section > .img0 {
  width: 285px;
  height: 285px;

  background-image: linear-gradient(45deg, white, #e6533c, #e6533c, white);

  clip-path: polygon(
    15% 0%,
    7% 7%,
    7% 30%,
    0% 35%,
    0% 70%,
    7% 77%,
    7% 91%,
    15% 100%,
    85% 100%,
    91% 93%,
    91% 77%,
    100% 70%,
    100% 35%,
    93% 30%,
    93% 7%,
    85% 0%
  );
}
.own-img-section > .img0 > .img1 {
  width: 280px;
  height: 280px;
  background-color: black;
  overflow: hidden;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: aqua;
  clip-path: polygon(
    15% 0%,
    7% 7%,
    7% 30%,
    0% 35%,
    0% 70%,
    7% 77%,
    7% 91%,
    15% 100%,
    85% 100%,
    91% 93%,
    91% 77%,
    100% 70%,
    100% 35%,
    93% 30%,
    93% 7%,
    85% 0%
  );
}

.own-img-section > .img0 > .img1 > .img11 {
  width: 260px;
  height: 260px;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  clip-path: polygon(
    15% 0%,
    7% 7%,
    7% 30%,
    0% 35%,
    0% 70%,
    7% 77%,
    7% 91%,
    15% 100%,
    85% 100%,
    91% 93%,
    91% 77%,
    100% 70%,
    100% 35%,
    93% 30%,
    93% 7%,
    85% 0%
  );
}
.own-img-section > .img0 > .img1 > .img11 > img {
  width: auto;
  height: 100%;
  filter: brightness(-5);
}
.own-img-1 {
  position: relative;

  transform: scale(1.5);
}
.own-img-3 {
  position: relative;
  right: 50px;
  transform: scale(1.2);
}
.own-details0 {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.own-details01 {
  width: 100%;
  height: 100%;
  clip-path: polygon(71% 0, 66% 4%, 27% 4%, 24% 0);
  background-image: linear-gradient(45deg, white, #e6533c, #e6533c, white);
  position: absolute;
}
.own-details1 {
  clip-path: polygon(
    14% 0,
    0 14%,
    0 30%,
    0 79%,
    12% 100%,
    27% 100%,
    35% 88%,
    51% 88%,
    56% 93%,
    77% 93%,
    84% 100%,
    100% 90%,
    100% 14%,
    86% 0,
    72% 0,
    66% 5%,
    27% 5%,
    23% 0
  );
  width: 100%;
  height: 400px;
  background-image: linear-gradient(45deg, white, #e6533c, #e6533c, white);
}
.own-details11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  clip-path: polygon(
    14% 0,
    0 14%,
    0 30%,
    0 79%,
    12% 100%,
    27% 100%,
    35% 88%,
    51% 88%,
    56% 93%,
    77% 93%,
    84% 100%,
    100% 90%,
    100% 14%,
    86% 0,
    72% 0,
    66% 5%,
    27% 5%,
    23% 0
  );

  background-color: black;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 99.5%;
  height: 98%;
}
.own-details02 {
  clip-path: polygon(28% 100%, 35% 89%, 51% 89%, 56% 94%, 77% 94%, 83% 100%);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, white, #e6533c, #e6533c, white);

  position: absolute;

  bottom: 0;
}

.own-details11 > .text-1 {
  display: flex;
  gap: 20px;
  position: relative;
  /* top: 50px; */
  left: 20px;
  padding-left: 25px;
  padding-right: 60px;
}
.right-text > p {
  max-width: 700px;
  font-size: 14px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.left-border {
  width: 70px;
  border-right: 3px solid #e6533c;
  background-image: linear-gradient(90deg, rgb(0, 0, 0), #e6533c2b);
}
.own-section > h2 {
  margin-top: 30px;
  font-size: 48px;
  text-align: center;
}
.own-section > h2 > span {
  font-family: "miama", sans-serif;
  font-size: 80px;
  font-weight: 300;
  color: #e6533c;
}
.price {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.price-details-1 {
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 14%);
  width: 280px;
  height: 350px;
  background-color: aqua;
  background-image: linear-gradient(45deg, white, #e6533c, #e6533c, white);
}
.price-details-2 {
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 14%);
  width: 275px;
  height: 98%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  padding: 20px 30px;
}
.price-details-2 > h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.price-details-2 > p {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.price-details-2 > ul {
  margin-left: 20px;
}
.price-details-2 > ul li {
  font-size: 14px;
}
.price-details {
  font-size: 30px;
  margin-top: 10px;
  color: #e6533c;
}
.price-details > span {
  font-size: 16px;
  color: white;
}
.price-details-2 > .btn {
  max-width: 200px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #e6533c;
}
/* bmi calculator section */
.bmi-calculator {
  width: 100%;
}

.bmi-calculator > h1 {
  max-width: 600px;
  font-size: 48px;
  margin: 0 auto;
}
.bmi-calculator > p {
  max-width: 600px;
  font-size: 14px;
  margin: 10px auto;
}
.chart-calculator {
  background-color: rgb(34, 34, 34);
  margin: 30px 0px;
  padding: 40px 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.chart {
  width: 40%;
}
.chart > h1 {
  font-size: 35px;
  font-weight: 900;
}
.chart > table {
  margin-top: 30px;
}
.chart > table th {
  text-align: left;
  padding: 15px;
  font-size: 16px;
}
.chart > table td {
  text-align: left;
  padding: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.calculator {
  width: 50%;
}
.calculator > h1 {
  font-size: 35px;
  font-weight: 900;
}
.calculator > p {
  margin-top: 10px;
  font-size: 14px;

  color: rgba(255, 255, 255, 0.5);
}
.calculator-input {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 40px);
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.calculator-input input,
select {
  padding-left: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  border: none;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.calculator-input input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.select2 {
  grid-column: 1 / 3;
}
.calculator > .btn {
  max-width: 180px;
  margin-bottom: 10px;
}
/* meet our team section */
.our-team {
  width: 100%;
  margin: 0 auto 90px auto;
}
.our-team > h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
.our-team > p {
  color: rgba(255, 255, 255, 0.5);
  max-width: 620px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 0 auto 30px auto;
}
.team-img {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, calc(100% - 40px)));
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 18px;
}

.team {
  display: flex;
  align-items: end;
  padding: 20px;
}
.team > h1 {
  margin-bottom: 0;
  line-height: 18px;
}
.team > h1 > span {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
}
.team1 {
  height: 280px;
  border-radius: 14px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./images/trainer1.png);

  background-position: center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
}
.team2 {
  height: 280px;
  border-radius: 14px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./images/trainer2.png);

  background-position: center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
}
.team3 {
  height: 280px;
  border-radius: 14px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./images/trainer3.png);

  background-position: center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
}
.team4 {
  height: 280px;
  border-radius: 14px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./images/trainer4.png);

  background-position: center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
}
.team5 {
  height: 280px;
  border-radius: 14px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./images/trainer5.png);

  background-position: center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
}
.team6 {
  height: 280px;
  border-radius: 14px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./images/trainer6.png);

  background-position: center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
}
/* footer section */
footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.footer-details1 {
  padding: 50px 0;
  width: 50%;
}
.footer-details1 > i {
  color: rgb(230, 83, 60);
  font-size: 70px;
  font-weight: 800;
}
.footer-details1 > p {
  max-width: 400px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3px;
}
.footer-details2 {
  width: 50%;
  padding: 50px 0;
  display: flex;
  gap: 20px;
}
.service1,
.service2 {
  width: 50%;
}
.service1 > ul,
.service2 > ul {
  margin-top: 20px;
  list-style: none;
}
.service1 > ul li,
.service2 > ul li {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 400;
}
footer > hr {
  width: 80%;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
footer > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  padding: 30px;
}
/* tablet view style */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* header section  */
  header {
    height: auto;
  }
  /* nav style resize */
  nav {
    width: 90%;
  }
  nav > h1 > i {
    font-size: 30px;
  }
  nav > ul {
    gap: 0px;
    padding: 2px;
  }
  nav > ul li {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 8px 20px;
  }
  .header-details {
    width: 90%;

    flex-direction: column;
  }
  .header-details-text {
    width: 100%;
  }
  .header-img {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .header-img > img {
    margin: 0 auto;
  }
  .header-img-detail1 {
    right: 7%;
  }
  /* change habits section */
  .change-habits {
    width: 90%;
  }

  .all-habits {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .habit {
    width: 40%;
    margin-top: 40px;
  }
  /* extra mile section */
  .extra-mile {
    width: 90%;
  }
  .extra-mile-details {
    width: 40%;
  }
  .extra-mile-details > h1 {
    font-size: 30px;
  }
  .extra-mile-details > p {
    font-size: 13px;

    line-height: 18px;
  }
  .extra-mile-details > .btn {
    max-width: 180px;
  }
  .extra-mile-img {
    width: 55%;
    height: 300px;
    border-radius: 18px;
  }
  /* own section  */
  .own-section {
    width: 90%;
    margin-top: 20px;
  }
  .own-section > h1 {
    font-size: 30px;
  }

  .own-img-section {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .own-details0 {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
  }
  .own-details01 {
    width: 100%;
  }
  .own-section > h2 {
    font-size: 30px;
  }
  .price {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  /* bmi calculator section */

  .bmi-calculator > h1 {
    padding-left: 30px;
  }
  .bmi-calculator > p {
    padding-left: 30px;
  }
  .chart-calculator {
    background-color: rgb(34, 34, 34);
    margin: 30px 0px;
    padding: 40px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .chart {
    width: 100%;
  }
  .calculator {
    width: 100%;
  }
  /* meet our team section */

  .our-team > p {
    padding: 0 20px;
  }
  .team-img {
    width: 90%;
    grid-template-columns: repeat(3, minmax(30%, calc(100% - 30px)));
    gap: 15px;
    padding: 15px;
  }

  .team {
    padding: 10px;
  }
  .team > h1 {
    font-size: 18px;
  }
  /* footer section */
  .footer {
    flex-direction: column;
  }
  .footer-details1 {
    padding: 50px 0 0 0;
    width: 100%;
  }

  .footer-details2 {
    width: 100%;
    padding: 0 0 50px 0;
  }
}
/* mobile view style */
@media screen and (max-width: 576px) {
  /* header section  */
  header {
    height: auto;
  }
  /* nav section */
  nav {
    width: 90%;
    padding-top: 22px;
  }
  nav > h1 > i {
    font-size: 30px;
  }
  .menu-icon {
    display: block;
  }
  nav > ul {
    display: none;
  }

  .header-details {
    width: 90%;
    flex-direction: column;
  }
  .header-details-text {
    width: 100%;
  }
  .header-details-text > h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 110%;
  }
  .header-details-text > h1 > span {
    font-size: 70px;
  }
  .header-details-text > p {
    font-size: 14px;
    line-height: 20px;
  }
  .btn-sec {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .btn {
    padding: 10px 10px;
    font-size: 12px;
  }
  .header-img {
    width: 100%;
    position: relative;
  }
  .header-img > img {
    width: 100%;

    margin: 0 auto;
  }
  .header-img-detail1 {
    right: 0%;
    padding: 14px;
  }
  .header-img-detail1 > h1 {
    font-size: 20px;
  }
  .header-img-detail1 > p {
    font-size: 8px;
  }
  .header-img-detail2 {
    position: absolute;
    bottom: 30%;
    left: 0%;
    padding: 14px;
  }

  .header-img-detail2 > div > h1 {
    margin-bottom: 0;
    font-size: 20px;
  }
  .header-img-detail2 > div > p {
    font-size: 8px;
  }
  .circle {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .circle > img {
    transform: scale(0.8);
  }
  /* change habits section */
  .change-habits {
    width: 90%;
    margin-top: 10px;
  }
  .change-habits > h1 {
    font-size: 24px;
  }
  .change-habits > p {
    font-size: 12px;
    margin-top: 5px;
    line-height: 18px;
  }
  .all-habits {
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
  }
  .habit {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* extra mile section */
  .extra-mile {
    width: 90%;
    flex-direction: column;
    gap: 30px;
  }
  .extra-mile-details {
    width: 100%;
  }
  .extra-mile-details > h1 {
    font-size: 28px;
  }
  .extra-mile-details > p {
    font-size: 12px;
    line-height: 22px;
  }
  .extra-mile-details > .btn {
    max-width: 100%;
  }
  .extra-mile-img {
    width: 100%;
  }
  .extra-mile-img > img {
    width: 100%;
    top: 60px;
    right: 50px;
  }
  /* own section  */
  .own-section {
    width: 90%;
    margin-top: 30px;
  }
  .own-section > h1 {
    font-size: 25px;
  }
  .own-section > h1 > span {
    font-size: 40px;
  }
  .own-section > p {
    font-size: 12px;
    line-height: 18px;
  }
  .own-img-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .own-img-section > .img0 {
    width: 275px;
    height: 275px;
  }
  .own-img-section > .img0 > .img1 {
    width: 270px;
    height: 270px;
  }

  .own-img-section > .img0 > .img1 > .img11 {
    width: 260px;
    height: 260px;
  }

  .own-details0 {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
  }

  .own-details01 {
    width: 100%;
    height: 100%;
    clip-path: polygon(71% 0, 66% 3%, 27% 3%, 24% 0);
    background-image: linear-gradient(45deg, white, #e6533c, #e6533c, white);
    position: absolute;
  }
  .own-details1 {
    clip-path: polygon(
      14% 0,
      0 14%,
      0 30%,
      0 79%,
      12% 100%,
      18% 100%,
      35% 91%,
      51% 91%,
      56% 95%,
      77% 95%,
      84% 100%,
      100% 90%,
      100% 14%,
      86% 0,
      72% 0,
      66% 4%,
      27% 4%,
      23% 0
    );
    width: 100%;
    height: 520px;
    background-image: linear-gradient(45deg, white, #e6533c, #e6533c, white);
  }
  .own-details11 {
    justify-content: center;
    gap: 20px;
    clip-path: polygon(
      14% 0,
      0 14%,
      0 30%,
      0 79%,
      12% 100%,
      18% 100%,
      35% 91%,
      51% 91%,
      56% 95%,
      77% 95%,
      84% 100%,
      100% 90%,
      100% 14%,
      86% 0,
      72% 0,
      66% 4%,
      27% 4%,
      23% 0
    );
  }
  .own-details02 {
    clip-path: polygon(20% 100%, 35% 92%, 51% 92%, 56% 96%, 77% 96%, 82% 100%);
  }

  .own-details11 > .text-1 {
    width: 100%;
    left: 5px;
    padding-left: 0px;
    padding-right: 20px;
  }
  .right-text > h1 {
    font-size: 20px;
    margin-left: -10px;
  }
  .right-text > p {
    font-size: 12px;
    margin-left: -10px;
  }
  .own-section > h2 {
    margin-top: 20px;
    font-size: 26px;
  }
  .own-section > h2 > span {
    font-size: 40px;
  }
  .price {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }
  .price-details-1 {
    width: 260px;
  }
  .price-details-2 {
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 14%);
    width: 255px;
    padding: 35px 20px;
  }
  .price-details-2 > h1 {
    font-size: 22px;
  }
  .price-details-2 > p {
    font-size: 12px;
  }

  .price-details-2 > ul li {
    font-size: 13px;
  }
  .price-details {
    font-size: 25px;
  }
  .price-details > span {
    font-size: 14px;
  }
  /* bmi calculator section */
  .bmi-calculator {
    margin-top: 0px;
    padding: 0;
  }
  .bmi-calculator > h1 {
    padding-left: 10px;
    font-size: 30px;
  }
  .bmi-calculator > p {
    padding-left: 10px;
    font-size: 13px;
  }
  .chart-calculator {
    flex-direction: column;
    padding: 12px;
  }

  .chart {
    width: 100%;
    margin-top: 30px;
  }
  .chart > h1 {
    font-size: 22px;
  }
  .chart > table {
    margin-top: 30px;
  }
  .chart > table th {
    padding: 10px;
    font-size: 15px;
  }
  .chart > table td {
    padding: 10px;
    font-size: 13px;
  }
  .calculator {
    width: 100%;
  }
  .calculator > h1 {
    font-size: 22px;
  }
  .calculator > p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
  }
  .calculator-input {
    grid-template-columns: repeat(2, 49%);
    /* gap: 10px; */
    row-gap: 10px;
    column-gap: 2%;
  }
  /* meet our team section */

  .our-team > h1 {
    font-size: 30px;
  }
  .our-team > p {
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
  }
  .team-img {
    width: 90%;
    grid-template-columns: repeat(1, 100%);
    padding: 15px;
  }

  .team {
    padding: 15px;
  }
  /* footer section */
  .footer {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }
  .footer-details1 {
    padding: 50px 0 0 0;
    width: 100%;
  }
  .footer-details1 > i {
    font-size: 55px;
  }
  .footer-details1 > p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
  .footer-details2 {
    width: 100%;
    padding: 0 0 50px 0;
    flex-direction: column;
  }
  .service1,
  .service2 {
    width: 100%;
  }
  .service1 > ul,
  .service2 > ul {
    margin-top: 20px;
    list-style: none;
  }
  .service1 > ul li,
  .service2 > ul li {
    font-size: 14px;
  }
  footer > hr {
    width: 90%;
  }
  footer > p {
    font-size: 14px;
    padding: 20px 0;
  }
}
